@model ChildComment

<div class="row d-flex justify-content-center">
    <div class="comment child-comment">
        <div class="comment__data d-flex justify-content-between p-1 m-auto">
            <!--  The expression of getting Sex is basically - getting the name of defined as int Sex enum. then displaying only first letter of the name, so F or M -->
            <p class="m-0">@Model.Creator.UserName @Model.Creator.GetAge() @Enum.GetName(typeof(Sex), Model.Creator.Sex)[0]</p>
            <p class="m-0" style=" word-spacing: 12px;">@Model.CreationDate.ToString("H:mm dd/MM/yyyy")</p>
        </div>
        <div>
            <p class="comment__text">@Model.Content</p>
        </div>
    </div>
</div>
