@model SmallTalks.Models.Post

@* Report Modal *@
<partial name="_ReportModalPartial" model="new UserCreatedObj{ Id = Model.Id, ObjectType = ObjectType.Post}" />

<div class="post__wrapper row d-flex justify-content-center">
    <div class="post">
        <div class="post__data d-flex justify-content-between p-1 w-75 m-auto">
            <!--  The expression of getting Sex is basically - getting the name of defined as int Sex enum. then displaying only first letter of the name, so F or M -->
            <p class="m-0">@Model.Creator.UserName @Model.Creator.GetAge() @Enum.GetName(typeof(Sex), Model.Creator.Sex)[0]</p>
            <p class="m-0" style=" word-spacing: 12px;">@Model.CreationDate.ToString("H:mm dd/MM/yyyy")</p>
            <a class="report-icon__wrapper" data-toggle="modal" data-target="#report-modal-@Model.Id-Post">
                <i class="report-icon fas fa-exclamation-triangle"></i>
            </a>
        </div>
        <div>
            <h1 class="post__title">@Model.Title</h1>
            <p class="post__text">@Model.Content</p>
            <div class="post__tags">
                @foreach (var postTags in Model.PostTags)
                {
                    <i class="tag__icon post__tag @postTags.Tag.FaClasses"></i>

                }
            </div>
            <div class="text-center">
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target=".comments-section-@Model.Id" aria-expanded="false" aria-controls="comments-section">
                    &dArr;
                </button>
            </div>
            <section class="collapse comments-section comments-section-@Model.Id">
                <div class="add-comment__wrapper text-center">
                    <form asp-action="AddComment" data-ajax="true" data-ajax-success="commentAdded" data-ajax-method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" name="PostId" />
                        <textarea class="add-comment__textarea form-control" id="comment-textarea-@Model.Id" name="Content" placeholder="Your comment" required maxlength="500"></textarea>
                        <input type="submit" class="btn mt-1" value="Add" />
                    </form>
                </div>
                <div class="comments" id="comments-@Model.Id">
                    @foreach (var comment in Model.Comments)
                    {
                        <partial name="_CommentPartial" model="@comment" />
                    }

                </div>
            </section>
        </div>
    </div>
</div>

<script>
    commentAdded = function (comment) {
        var div = $("<div></div>");

        div.load("/Home/GetCommentPartial", { comment })

        div.slideUp();
        $("#comments-" + comment.postId).append(div);
        div.slideDown(250);

        $("#comment-textarea-" + comment.postId).val("");
    }
</script>

