@model List<Report>
@{
    ViewData["Title"] = "Index";
}
<br />
@if (TempData["TempMessage"] != null)
{
    <partial name="_TempMessagePartial" model="@TempData["TempMessage"].ToString()" />
}
<br />
<br />
<br />
<section class="moderation d-flex justify-content-center flex-wrap">
    <section class="reports-to-review col-md-12 col-lg-9 ">
        <h2>Reports to review</h2>
        <div class="table-responsive-md">
            <table class="table table-sm table-light table-striped" style="min-width: 650px;">
                <thead class="thead-light" style="font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif">
                    <tr>
                        <th>Id</th>
                        <th >Message</th>
                        <th style="width: 30%;">Reported Object</th>
                        <th>Reported by</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var report in Model)
                {
                    <tr>
                        <td>@report.Id</td>
                        <td class="ellipsis"><span>@report.Content</span></td>
                        <td>@report.ReportedObjectType - @report.ReportedObjectId</td>
                        <td>@report.Reporter.UserName</td>
                        <td><a asp-action="ReportDetails" asp-route-id="@report.Id"><i class="fas fa-external-link-square-alt"></i></a></td>
                    </tr>
                }
            </table>
            </div>
    </section>
    <section class="bans-section col-md-8 col-lg-3 mr-auto ml-auto mt-5">
        <h4 class="text-center">User History</h4>
        <div class="row">
            <form asp-action="GetUserBanHistory" class="w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <input class="form-control d-inline-block" type="text" name="userName" placeholder="Username" required />
                    <input class="btn--short btn btn-primary mt-2" type="submit" value="Search" />
                </div>
            </form>
        </div>

        <h4 class="text-center">Ban user</h4>
        <div class="row">
            <form asp-action="BanUser" class="w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center ">
                    <input class= form-control mr-2" type="text" name="userName" placeholder="Username" aria-label="Username" required />
                    <textarea class="form-control mb-1 mt-1" type="text" name="description" placeholder="Description" aria-label="Description" required></textarea>
                    <input class=" form-control" type="date" name="endTime" placeholder="Ending Date" aria-label="Ending Date" required />
                    <input class="btn--short btn btn-danger mt-2" type="submit" value="Ban" />
                </div>
            </form>
        </div>

        <h4 class="text-center">Unban user</h4>
        <div class="row">
            <form asp-action="UnbanUser" class="w-100">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-center">
                    <input class=" form-control d-inline-block" type="text" name="userName" placeholder="Username" required />
                    <input class="btn--short d-inline-block btn btn-success mt-2" type="submit" value="Unban" />
                </div>
            </form>
        </div>
    </section>
</section>