@model PostsWithTags
@{
    ViewData["Title"] = "Home Page";
}
<header class="home__header-main full-width row text-white">
    <div class="header__content d-flex justify-content-center align-items-start w-100 mb-4">
        <div>
            <h1 class="display-1 text-white text-center">Small Talks</h1>
            <p style="font-size: 150%; font-family: 'Segoe UI', Tahoma;">A place to talk about anything and everything!</p>
            <br />
            <div class="d-flex justify-content-center w-100 mb-4">
                <button type="button" class="btn btn-primary btn-lg">How does it work?</button>
            </div>
        </div>
        <img class="header__logo" src="~/images/4.png" />
    </div>
</header>
<br />
<div class="row d-flex justify-content-center">
    <a asp-action="CreatePost" class="btn btn-success btn-lg">Create new post!</a>
</div>
<br />
<br />

@* TODO, Change to one set of data swapping between dropdown and the standard grid *@
<div class="tags__dropdown dropdown d-flex justify-content-center" >
    <button class="btn btn-dark dropdown-toggle"  style="width: 320px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tags
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  style="width: 320px;">
        @for (int i = 0; i < Model.Tags.Count(); i++)
        {
            <div class="tag dropdown-item text-center" style="position: relative;">
                <input asp-for="@Model.Tags[i].Id" type="hidden" class="form-check-input" />
                <input asp-for="@Model.Tags[i].IsActive" type="checkbox" class="form-check-input" />
                <i class="tag__icon @Model.Tags[i].FaClasses"></i>
                <label class="form-check-label">@Model.Tags[i].Name</label>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="tags row m-auto  d-flex justify-content-between text-center" style="width: 90%;">
        @for (int i = 0; i < Model.Tags.Count(); i++)
        {
        <div class="tag col-lg-4 col-md-6">
            <input asp-for="@Model.Tags[i].Id" type="hidden" class="form-check-input" />
            <input asp-for="@Model.Tags[i].IsActive" type="checkbox" class="form-check-input" />
            <i class="tag__icon @Model.Tags[i].FaClasses"></i>
            <label class="form-check-label">@Model.Tags[i].Name</label>
        </div>
        }
    </div>
</div>
<div class="text-center">
    <input type="submit" class="tags__btn btn btn-secondary m-auto" value="Update Tags" />
</div>


<br />
<section class="posts">

    @foreach (var post in Model.Posts)
    {
        <partial name="_PostPartial" model="post" />
    }
</section>
